/*reseteo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                        /*estilos INDEX*/

.Inicio{
    width: 100%;
}

.titulo{
    text-transform: uppercase;
    font-family: 'Cormorant SC', serif; 
    font-size: 30px;
    text-decoration: none;
}

header{
    width: 100%;
}

.Menu{
    background-color: #daf2f0;;
    position: sticky;
    top: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    min-width: 80vh;
   
}

.buscador{
    margin: 5px;
}

#menu-hamburguesa{
    display: none;
}
 
header label{
    display: none;
    width: 30px;
    height: 30px;
}

nav ul{
    list-style: none;
    text-align: center;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    
}
nav ul li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color:#ddb7ab;
    border-radius: 18px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

.index{
    background-color: #ede9e5;
    text-align: center;
    line-height: 1.8;
    display: flex;
    flex-direction: column; 
    min-width: 95vh; 
   
}

.home{
    display: grid;
    justify-content: center
    grid-template-columns auto auto auto;
    grid-template-rows:auto auto auto;
  

    grid-template-areas: 
                        "producto producto producto"
                        "producto producto producto"
}

.producto{
    margin: 10px;
    padding: 10px;
    float: left;
    width: auto;
    grid-area: producto;
    
}



.img{
    border: solid 1px black;
    width: 200px;
    margin-top: 15px;
    margin-bottom:15px;

}

.boton{
    border: solid black 1.5px;
    text-transform: capitalize;
    font-weight: bold;
}

.fondo{
    text-align: center;
    background-color: #daf2f0;
    min-width: 95vh;
    border-top: #ddb7ab solid 1.7px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
}
.logo{
    padding: 20px;
}

.instagram{
    padding: 10px;
}

/*CSS PRODUCTOS*/

.seleccione{
    align-items: left;
    display: flex;
    margin: 20px;
    padding-right: 20px;
    min-width: 80vh;
}

.css-producto{
    background-color: #ede9e5;
    
    text-align: center;
    align-items: center;
    line-height: 1.8;
    min-width: 80vh;
    
    gap: 3rem;
    display: grid;
    justify-content: center
    grid-template-columns auto auto auto;
    grid-template-rows:auto auto auto;
    grid-template-areas: 
                        "producto producto producto"
                        "producto producto producto"
                        ;
}

.elegido{
    border: solid black 1px;
    margin: 10px;
}
.producto{
    margin: 10px;
    padding: 10px;
    float: left;
    width: auto;

    grid-area: producto;
}




/* CSS NOSOTROS*/

.index-nosotros{
    background-color: #ede9e5;
    text-align: center;
    line-height: 1.8;
    display: flex;
    flex-direction: column; 
    min-width: 80vh; 
}



@media screen and (min-width: 791px) {
    header label{
        display: none;
    }
    
  
}

@media screen and (max-width: 790px) {
    header label{
        display: block;
    }

    .menu-horizontal{
        display: none;
    }
    
    .home{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto auto;
    
        grid-template-areas: 
                            "producto producto"
                            "producto producto"
                            "producto producto";
                                              
    }
    .producto{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
    
        grid-area: producto;
    }
 
}

@media screen and (max-width: 790px) {
    .css-producto{
        background-color: #ede9e5;
        text-align: center;
        align-items: center;
        line-height: 1.8;
        min-width: 95vh;
        gap: 3rem;
        display: grid;
        justify-content: center
        grid-template-columns auto auto;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
                            "producto producto "
                            "producto producto "
                            "producto producto";
        }
        
    .elegido{
        border: solid black 1px;
        margin: 10px;
    }

    .Menu{
        min-width: 95vh;
    }


    .fondo{
        min-width: 95vh;
    }

    
  

} 


@media screen and (min-width: 791px) {
    .css-producto{
        background-color: #ede9e5;
        text-align: center;
        align-items: center;
        line-height: 1.8;
        min-width: 95vh;
        gap: 3rem;
        display: grid;
        justify-content: center
        grid-template-columns auto auto auto;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
                            "producto producto producto"
                            "producto producto producto"
                            "producto producto producto";
        }
        
    .elegido{
        border: solid black 1px;
        margin: 10px;
        } 
    
    .Menu{
        min-width: 95vh;
     }
    
    
    .fondo{
        min-width: 95vh;
    }
}
    

/*estilo como comprar*/

.lista{
    text-align: center;
    background-color: #ede9e5;
    text-align: center;
    line-height: 1.8;
      
}





