@import "base/listas";
@import "base/mixin";
@import "base/extend";

// NESTING

header{
    width: 100%;
    background-color: nth($colores, 1 );
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    //min-width: 80vh;
    border-bottom: nth($colores, 2) solid 1.7px;
     h1{
            text-transform: uppercase;
            font-family: 'Cormorant SC', serif; 
            font-size: 40px;
            text-decoration: none;
        }
        nav{
            ul{
                list-style: none;
                text-align: center;
                margin: 10px;
                position: relative;
                display: flex;
                justify-content: center;
            }
                li{
                    display: inline-block;
                    margin: 10px;
                    padding: 10px;
                    background-color:nth($colores, 2);
                    border-radius: 18px;
                }
                li:hover{
                    transform: scale(1.1);
                }
                a{
                    color: nth($colores, 4 );
                    text-decoration: none;
                 }
                a:hover{
                      color: white;
                }
                #menu-hamburguesa{
                   display: none;
                }
    }
}

main{
        background-color: nth($colores, 3 );
        text-align: center;
        line-height: 1.8;
        display: flex;
        flex-direction: column; 
        //min-width: 95vh;

        
    section{
        display: grid;
        justify-content: center
        grid-template-columns auto auto auto;
        grid-template-rows:auto auto auto;
    

        grid-template-areas: 
                            "producto producto producto"
                            "producto producto producto"
    }

    img{
        border: solid 1px black;
        width: 200px;
        margin-top: 15px;
        margin-bottom:15px;
        align-items: center;
    }

    

    .producto1:hover{
        @include imagenes (10px, 10px);
        @extend %productos;
    }
    .producto2:hover{
        @include imagenes (10px, 10px);
        @extend %productos;
    }
    .producto3:hover{
        @include imagenes (10px, 10px);
        @extend %productos;
    }
    .producto4:hover{
        @include imagenes (10px, 10px);
        @extend %productos;
    }
    .producto5:hover{
        @include imagenes (10px, 10px);
        @extend %productos;
    }
    .producto6:hover{
        @include imagenes (10px, 10px);
        @extend %productos;
    }

    .boton{
        border: solid black 1.5px;
        text-transform: capitalize;
        font-weight: bold;
    }

    .boton:hover{
        font-size: 1rem;
        background-color: nth($colores, 2 );
        border-radius: 10px;
        padding: 5px;
        border: solid black 1.5px;
        margin: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .texto{
        margin: 20px;
        padding: 30px;
    }

    p{
        font-size: 18px;
        margin: 20px;
        padding: 30px;
        text-align: center;
    }
}

footer{
    
    text-align: center;
    background-color: nth($colores, 1 );
    border-top: nth($colores, 2 ) solid 1.7px;
    font-size: 1.2rem;

    
    nav{
        ul{
            list-style: none;
            text-align: center;
            margin: 10px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        li{
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color:nth($colores, 2);
            border-radius: 18px;
        }

        li:hover{
            transform: scale(1.1);
        }

        a{
            color: nth($colores, 4 );
            text-decoration: none;
        }

        a:hover{
            color: white;
        }
    }
    
    .footer{
        display: grid;
        grid-template-columns: repeat(3);
        width: 100%;
    }

    .logo{
        padding: 10px;
    }

    .instagram{
        padding: 10px;
    }

    
}

@media (min-width: 791px) {
    header label{
        display: none;
    }
    
  
}

@media (max-width: 370px) {
    header label{
        display: block;
    }

    .menu-horizontal{
        display: none;
    }
    
    .home{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto auto;
    
        grid-template-areas: 
                            "producto producto"
                            "producto producto"
                            "producto producto";
                                              
    }
    .producto{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
    
        grid-area: producto;
    }
 
}

@media (max-width: 790px) {
    .producto{

        max-width: 95vw;

    }

    .home{
        display: grid;
        grid-template-areas: 
                            "producto1"
                            "producto2"
                            "producto3"
                            "producto4"
                            "producto5"
                            "producto6";                                           
    }

    .producto-1{
        
        grid-area: producto1;
    }

    .producto-2{

        grid-area: producto2;

    }

    .producto-3{

        grid-area: producto3;

    }

    .producto-4{

        grid-area: producto4;

    }

    .producto-5{

        grid-area: producto5;

    }

    .producto-6{

        grid-area: producto6;

    }
        

    // .Menu{
    //     min-width: 95vh;
    // }


    // .fondo{
    //     min-width: 95vh;
    // }

    footer {
        nav{
            ul{
                flex-direction: column;
            }
        }
    }

} 


// @media (min-width: 791px) {

        
//     .Menu{
//         min-width: 95vh;
//      }
    
    
//     .fondo{
//         min-width: 95vh;
//     }
// }