@import "utilities/variables";

// NESTING

header{
    width: 100%;
    background-color: $color-menu;
    position: sticky;
    top: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    min-width: 80vh;
    border-bottom: $color-boton solid 1.7px;
     h1{
            text-transform: uppercase;
            font-family: 'Cormorant SC', serif; 
            font-size: 30px;
            text-decoration: none;
        }
        nav{
            ul{
                list-style: none;
                text-align: center;
                margin: 10px;
                position: relative;
                display: flex;
                justify-content: center;
            }
                li{
                    display: inline-block;
                    margin: 10px;
                    padding: 10px;
                    background-color:$color-boton;
                    border-radius: 18px;
                }
                li:hover{
                    transform: scale(1.1);
                }
                a{
                    color: $color-tipografia;
                    text-decoration: none;
                 }
                a:hover{
                      color: white;
                }
                #menu-hamburguesa{
                   display: none;
                }
    }
}

main{
        background-color: $color-fondo;
        text-align: center;
        line-height: 1.8;
        display: flex;
        flex-direction: column; 
        min-width: 95vh;

    section{
        display: grid;
        justify-content: center
        grid-template-columns auto auto auto;
        grid-template-rows:auto auto auto;
    

        grid-template-areas: 
                            "producto producto producto"
                            "producto producto producto"
    }

    img{
        border: solid 1px black;
        width: 200px;
        margin-top: 15px;
        margin-bottom:15px;
        align-items: center;
    }

    .producto1:hover{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
        box-shadow: 2px 5px 8px grey;
        grid-area: producto;
    }
    .producto2:hover{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
        box-shadow: 2px 5px 8px grey;
        grid-area: producto;
    }
    .producto3:hover{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
        box-shadow: 2px 5px 8px grey;
        grid-area: producto;
    }
    .producto4:hover{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
        box-shadow: 2px 5px 8px grey;
        grid-area: producto;
    }
    .producto5:hover{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
        box-shadow: 2px 5px 8px grey;
        grid-area: producto;
    }
    .producto6:hover{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
        box-shadow: 2px 5px 8px grey;
        grid-area: producto;
    }

    .boton{
        border: solid black 1.5px;
        text-transform: capitalize;
        font-weight: bold;
    }

    .boton:hover{
        font-size: 1rem;
        background-color: $color-boton;
        border-radius: 10px;
        padding: 5px;
        border: solid black 1.5px;
        margin: 10px;
        cursor: pointer;
        transition: 1s;
    }
}

footer{
    
    text-align: center;
    background-color: $color-menu;
    min-width: 95vh;
    border-top: $color-boton solid 1.7px;
    
    nav{
        ul{
            list-style: none;
            text-align: center;
            margin: 10px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        li{
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color:$color-boton;
            border-radius: 18px;
        }

        li:hover{
            transform: scale(1.1);
        }

        a{
            color: $color-tipografia;
            text-decoration: none;
        }

        a:hover{
            color: white;
        }
    }
    

    .logo{
        padding: 20px;
    }

    .instagram{
        padding: 10px;
    }
}

@media screen and (min-width: 791px) {
    header label{
        display: none;
    }
    
  
}

@media screen and (max-width: 412px) {
    header label{
        display: block;
    }

    .menu-horizontal{
        display: none;
    }
    
    .home{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto auto;
    
        grid-template-areas: 
                            "producto producto"
                            "producto producto"
                            "producto producto";
                                              
    }
    .producto{
        margin: 10px;
        padding: 10px;
        float: left;
        width: auto;
    
        grid-area: producto;
    }
 
}

@media screen and (max-width: 790px) {
    .producto{

        max-width: 95vw;

    }

    .home{

        display: grid;

        grid-template-areas: 

                            "producto1"

                            "producto2"

                            "producto3"

                            "producto4"

                            "producto5"

                            "producto6";

                                              

    }

    .producto-1{

        grid-area: producto1;

    }

    .producto-2{

        grid-area: producto2;

    }

    .producto-3{

        grid-area: producto3;

    }

    .producto-4{

        grid-area: producto4;

    }

    .producto-5{

        grid-area: producto5;

    }

    .producto-6{

        grid-area: producto6;

    }
        

    .Menu{
        min-width: 95vh;
    }


    .fondo{
        min-width: 95vh;
    }

    .css-producto{
        background-color: $color-fondo;
        text-align: center;
        align-items: center;
        line-height: 1.8;
        min-width: 95vh;
        gap: 3rem;
        display: grid;
        justify-content: center
        grid-template-columns auto auto ;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
                            "producto producto "
                            "producto producto "
                            "producto producto ";
        }

} 


@media screen and (min-width: 791px) {
    .css-producto{
        background-color: $color-fondo;
        text-align: center;
        align-items: center;
        line-height: 1.8;
        min-width: 95vh;
        gap: 3rem;
        display: grid;
        justify-content: center
        grid-template-columns auto auto auto;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
                            "producto producto producto"
                            "producto producto producto"
                            "producto producto producto";
        }
        
    .Menu{
        min-width: 95vh;
     }
    
    
    .fondo{
        min-width: 95vh;
    }
}